/*Structure:
	Nav
	Hero
	Section:  "Our Story"  Hours/Contact;  2 Images;
	Menu: Large Photo
		4 Sections: Food/Drink/Breakfast/Fruit and Tea;
		Food Images/desriptions/prices
	Photo Gallery: 9 Images;
	Book a Table: 2 Images/Form;
	Map with Location;
	Get our Newsletter;
	Footer with Logo, Address, Email, Social Icons
*/

/*SPLASH of THAI:

	Home
	About Us
	Our Menu
	Our Reviews
	Gallery
	Contact

*/

/*13px 700*/

body {
	font: 16px Arial, sans-serif;
	color: #ddd;
}

.container {
	width: 100%;
}

nav {
	background-color: #222;
	opacity: 0.7;
	width: 100%;
	height: 70px;
	position: fixed;
}

.logo {
	background-image: url("../img/logo/logoSP.png");
	background-repeat: no-repeat;
	background-size: cover;
}


.breadcrumb {
	list-style-type: none;
	display: flex;
	align-items: center;
	/*border: 1px solid white;*/
	height: 100%;
	margin: 0;
	justify-content: center;
}

.breadcrumb li, i {
	flex-basis: 145px;
	font-size: 0.8125rem;
	font-weight: 700;
}


.large-hero {
	background-image: url("../img/unsplash/joanna-boj-17158.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
}

.vertical-line {
	height: 45px;
	background-color: #ddd;
	width: 1.5px;
	opacity: 0.7;
}

.welcome {
	color: yellow;
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 2rem;
	background-color: lightgrey;
}

.dividing-line {
	width: 400px;
	height: 3px;
	background-color: #fff;
}

.our-story {
	height: 1080px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

.our-story a {
	text-decoration: none;
	color: #000;
	border: 1px solid;
	padding: 1em 2em;
	font-weight: 700;
}

.our-story p {
	padding-bottom: 40px;
}

.about-us {
	color: #000;
	grid-area: 2/3/6/6;
	text-align: center;
}

.restaurant-image1 {
	grid-area: 7/3/11/6;
	background-image: url("../img/unsplash/ali-inay-9858.jpg");
	background-size: cover;
}

.restaurant-image2 {
	color: #000;
	grid-area: 2/7/6/10;
	background-image: url("../img/unsplash/diego-duarte-cereceda-340520.jpg");
	background-size: cover;
}

.hours {
	grid-area: 7/7/11/10;
	color: #000;
	text-align: center;
}

.menu {
	height: 100vh;
}

.menu-image {
	height: 550px;
	width: 100%;
	background-image: url("../img/unsplash/mantra-media-58091.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.menu-image h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 3rem;
}

