/*Structure:
	Nav
	Hero
	Section:  "Our Story"  Hours/Contact;  2 Images;
	Menu: Large Photo
		4 Sections: Food/Drink/Breakfast/Fruit and Tea;
		Food Images/desriptions/prices
	Photo Gallery: 9 Images;
	Book a Table: 2 Images/Form;
	Map with Location;
	Get our Newsletter;
	Footer with Logo, Address, Email, Social Icons
*/

/*SPLASH of THAI:

	Home
	About Us
	Our Menu
	Our Reviews
	Gallery
	Contact

*/

/*13px 700*/

body {
	font: 16px Arial, sans-serif;
	color: #ddd;
}

.container {
	width: 100%;
}

nav {
	background-color: #222;
	opacity: 0.7;
	width: 100%;
	height: 70px;
	position: fixed;
}

.logo {
	background-image: url("../img/logo/logoSP.png");
	background-repeat: no-repeat;
	background-size: cover;
}


.breadcrumb {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	/*border: 1px solid white;*/
	height: 100%;
	margin: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.breadcrumb li, i {
	-ms-flex-preferred-size: 145px;
	    flex-basis: 145px;
	font-size: 0.8125rem;
	font-weight: 700;
}


.large-hero {
	background-image: url("../img/unsplash/joanna-boj-17158.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
}

.vertical-line {
	height: 45px;
	background-color: #ddd;
	width: 1.5px;
	opacity: 0.7;
}

.welcome {
	color: yellow;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	text-align: center;
	font-size: 2rem;
	background-color: lightgrey;
}

.dividing-line {
	width: 400px;
	height: 3px;
	background-color: #fff;
}

.our-story {
	height: 1080px;
	width: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[12];
	    grid-template-columns: repeat(12, 1fr);
	-ms-grid-rows: (1fr)[12];
	    grid-template-rows: repeat(12, 1fr);
}

.our-story a {
	text-decoration: none;
	color: #000;
	border: 1px solid;
	padding: 1em 2em;
	font-weight: 700;
}

.our-story p {
	padding-bottom: 40px;
}

.about-us {
	color: #000;
	-ms-grid-row: 2;
	-ms-grid-row-span: 4;
	-ms-grid-column: 3;
	-ms-grid-column-span: 3;
	grid-area: 2/3/6/6;
	text-align: center;
}

.restaurant-image1 {
	-ms-grid-row: 7;
	-ms-grid-row-span: 4;
	-ms-grid-column: 3;
	-ms-grid-column-span: 3;
	grid-area: 7/3/11/6;
	background-image: url("../img/unsplash/ali-inay-9858.jpg");
	background-size: cover;
}

.restaurant-image2 {
	color: #000;
	-ms-grid-row: 2;
	-ms-grid-row-span: 4;
	-ms-grid-column: 7;
	-ms-grid-column-span: 3;
	grid-area: 2/7/6/10;
	background-image: url("../img/unsplash/diego-duarte-cereceda-340520.jpg");
	background-size: cover;
}

.hours {
	-ms-grid-row: 7;
	-ms-grid-row-span: 4;
	-ms-grid-column: 7;
	-ms-grid-column-span: 3;
	grid-area: 7/7/11/10;
	color: #000;
	text-align: center;
}

.menu {
	height: 100vh;
}

.menu-image {
	height: 550px;
	width: 100%;
	background-image: url("../img/unsplash/mantra-media-58091.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.menu-image h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	color: #fff;
	font-size: 3rem;
}

.menu-grid {
	width: 75%;
	margin: 0 auto;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 50% 50%;
	    grid-template-columns: 50% 50%;
	-ms-grid-rows: (25%)[4];
	    grid-template-rows: repeat(4, 25%);
	grid-gap: 30px;
	grid-auto-columns: 300px;
	padding-top: 55px;
}

.menu-item {
	border: 1px solid #333;
	border-radius: 7px;
	padding: 20px;
}

.image-gallery {
	margin-top: -160px;
	height: 1670px;
	background-color: #dbdbdb;
}

.image-gallery h2, .reviews h2 {
	padding: 65px 0;
	text-align: center;
	font-size: 3rem;
	color: #fff;
}

.gallery-items {
	width: 75%;
	margin: auto;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[3];
	    grid-template-columns: repeat(3, 1fr);
	-ms-grid-rows: (1fr)[4];
	    grid-template-rows: repeat(4, 1fr);
	grid-gap: 25px;
}

.gallery-pic {
	background-color: grey;
	height: 320px;
	background-image: url("../img/unsplash/armando-ascorve-morales-155473.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.gallery-pic:nth-of-type(odd) {
	background-image: url("../img/unsplash/eduardo-roda-lopes-198465.jpg");
}

.gallery-pic:nth-of-type(3) {
	background-image: url("../img/unsplash/brooke-lark-194252.jpg")
}

.reviews {
	width: 75%;
	margin: auto;
	padding-bottom: 100px;
}

.reviews h2 {
	color: #000;
}

.review-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[4];
	    grid-template-columns: repeat(4, 1fr);
	-ms-grid-rows: (1fr)[2];
	    grid-template-rows: repeat(2, 1fr);
	grid-gap: 25px;
}

.review {
	background-color: grey;
	height: 300px;
	border: 3px inset blue;
}

.map {
	background-image: url("../img/map_rough.png");
	height: 960px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

footer{
	margin-top: -600px;
	height: 400px;
	background-color: grey;
	width: 100%;
	position: relative;
}

.footer-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	text-align: center;
}


